@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}